= form_tag sessions_path do
  %h1
    Log in
  %table
    %tr
      %th
        = label_tag :email
      %td
        = text_field_tag :email
    %tr
      %th
        = label_tag :password
      %td
        = password_field_tag :password
    %tr
      %th
      %td
        = submit_tag "Log in"
  
