:javascript
	players = new Array();
%div{ :id => "slider-wrapper-#{videos_counter + 1}", :class => "slider-wrapper" }
	%div{ :id => "left-control-#{videos_counter + 1}", :class => "control left-control" }
	%div{ :id => "slider-#{videos_counter + 1 }", :class => "slider" }
		.slide-inner
			= render :partial => 'slider_guts', :collection => videos, :as => :video
	%div{ :id => "right-control-#{videos_counter + 1}", :class => "control right-control" }
	.clear
	%div{ :id => "dots-wrapper-#{videos_counter + 1}", :class => "dots-wrapper" }
		%div{ :id => "dots-#{videos_counter + 1}", :class => "dots" }
			- (0...videos.length).each do |dot_id|
				.dot{ :id => "#{videos_counter + 1}-#{dot_id}"}
.clear
