:javascript
  function onYouTubePlayerReady ( playerapiid ) {
    players.push( document.getElementById( playerapiid ) );
  }
  var params  = { allowScriptAccess: "always"};
  var atts    = { id: "#{slider_embed.youtube_id}" }
  swfobject.embedSWF("http://www.youtube.com/v/#{slider_embed.youtube_id}?enablejsapi=1&playerapiid=#{slider_embed.youtube_id}&version=3&autoplay=1",
                       "#{slider_embed.youtube_id}", "480", "360", "8", null, null, params, atts);
%div{ :id => "#{slider_embed.youtube_id}" }
  Please upgrade your flash player to version 8 or later.

