:javascript
  players = new Array();
  function onYouTubePlayerReady ( playerapiid ) {
    players.push( getElementByID( playerapiid ) );
    console.log( players + "players" )
  }
  var params  = { allowScriptAccess: "always"};
  var atts    = { id: "#{slider_embed.youtube_id}" }
  swfobject.embedSWF("http://www.youtube.com/v/#{slider_embed.youtube_id}?enablejsapi=1&playerapiid=#{slider_embed.youtube_id}&version=3&autoplay=1",
                       "#{slider_embed.youtube_id}", "480", "360", "8", null, null, params, atts);
%div{ :id => "#{slider_embed.youtube_id}" }
  Please upgrade your flash player to version 8 or later.
=#%iframe{ :id => slider_embed.youtube_id, :height => 360, :width => 480, :src => "http://www.youtube.com/embed/#{slider_embed.youtube_id}?autoplay=1&enablejsapi=1&playerapiid=#{slider_embed.youtube_id}", :frameborder => 0, :allowFullscreen => "true", :allowScriptAccess => "always" }

