%header.embed-header
  %hgroup
    %h1
      = raw video.title
    %p.video-description
      = raw auto_link video.description
= render :partial => 'embed', :object => video

%footer.embed-footer
  %p.video-tags
    = raw video.tags.map{|t| link_to t.name, "/tag/view/#{t.name.gsub(' ', '_')}" }.join(", ").html_safe
  = render :partial => 'sharing'

