%div
  %h1
    = video.title
  %p
    = auto_link video.description
  %br
  %p 
    = video.tags.map{|t| link_to t.name, "/tag/view/#{t.name.gsub(' ', '_')}" }.join(", ").html_safe
  = render :partial => 'embed', :object => video

