%header.embed-header
	%hgroup
		%h1
			= video.title
		%p.video-description
			= auto_link video.description
		%p.video-tags
			= video.tags.map{|t| link_to t.name, "/tag/view/#{t.name.gsub(' ', '_')}" }.join(", ").html_safe
= render :partial => 'embed', :object => video

