= form_for @video, :url => {:action => :update} do |f|
  %table
    %tr
      %th
        = f.label "Title"
      %td
        = f.text_field :title
    %tr
      %th  
        = f.label "Description"
      %td
        = f.text_area :description
        = f.hidden_field  :id, :value => @video.id
    %tr
      %th
      %td
        = f.submit "Update"
