= render :partial => 'slider'


- already_displayed_ids = []
- @important_tags.each do |tag|

	.tag-wrapper{ :id => "tag-wrapper-#{tag.id}" }
		%header.tag-header
			%hgroup
				%h1
					= link_to tag.name, { :controller => :tag, :action => :view, 
																:id => "#{tag.name.gsub( " ", "_" )}" }
		- videos = tag.homepage_videos( already_displayed_ids )
		- videos.each do |video|
			-	already_displayed_ids << video.id
		= render :partial => 'five_videos', :object => videos, :as => :videos
.clear
= link_to "Edit this page", '/tag/edit_homepage_tags'  if @current_user
