%header#primary-header
	%hgroup
		%h1
			Oberlin Videos
.clear
#slider-wrapper.grid_16
	#slider
		- @featured.each do |video|
			%div.slide{ :id => "slide-#{video.id}" }
				%img{ :id => "image-#{video.id}", :src => "#{video.thumbnail_url}" }
				%hgroup{ :id => "hgroup-#{video.id}"}
					%h1
						= video.title
					%h2
						= video.description
				%div.gloss{ :id => "gloss-#{video.id}" }
				%canvas{ :id => "canvas-#{video.id}" }
				= raw(video.embed_html)
.clear
- (1..6).each do |x|
	.tag-wrapper{ :id => "tag-wrapper-#{x}" }
.clear

