%header#primary-header
	%hgroup
		%h1
			Oberlin Videos
.clear
#slider-wrapper.grid_16
	#slider
		- @featured.each do |video|
			.slide{ :id => "slide-#{video.id}" }
				%hgroup
					%h1
						= video.title
					%h2
						= video.description
				.gloss
				%canvas{ :id => "canvas-#{video.id}" }
				= raw(video.embed_html)
.clear
- (1..6).each do |x|
	.tag-wrapper
.clear