%header#slider-wrapper.container_16
	#slider
		- @featured.each do |video|
			%div.slide{ :id => "slide-#{video.id}" }
				%hgroup
					%h1
						= video.title
					%h2
						= video.description
				%canvas{ :id => "canvas-#{video.id}" }
				.embed
					= raw(video.embed_html)