%header#primary-header
	%hgroup
		%h1
			Oberlin Videos
.clear
#slider-wrapper.grid_16
	#left-control.control
	#slider
		- @featured.each do |video|
			%div.slide{ :id => "slide-#{video.id}" }
				%div.slide-cover
				- img_src = ActiveSupport::Base64.encode64(open(video.big_thumbnail_url){ |io| io.read })
				%img{ :src => "data:image/jpg;base64,#{img_src}"}
				%hgroup{ :id => "hgroup-#{video.id}"}
					%h1
						= video.title
					%h2
						= video.description
				%div.gloss{ :id => "gloss-#{video.id}" }
				%canvas.slider-canvas{ :id => "canvas-#{video.id}" }
				= video.embed_html.html_safe
	#right-control.control
	.clear
	#dots-wrapper
		/#play-button
		#dots
			- for dot_id in 0...@featured.length
				.dot{ :id => "#{dot_id}"}
		/#pause-button
.clear
- @important_tags.each do |tag|
	.tag-wrapper{ :id => "tag-wrapper-#{tag.id}" }
		%header.tag-header
			%hgroup
				%h1
					=tag.name
		%ul
			- tag.videos.each do |video|
				%li
					%a{ :href => ""}
						%img{ :src => "#{video.thumbnail_url}" }
					%hgroup
						%h1
							%a{ :href => "" }
								=video.title
			.clear
		.clear
.clear

