%header.primary-header#folder-header-1
	%hgroup
		%h1
			Featured
%header.primary-header#folder-header-2
	%hgroup
		%h1
			Popular
%header.primary-header#folder-header-3
	%hgroup
		%h1
			Recent
%header.primary-header#folder-header-4
	%hgroup
		%h1
			Something
.clear
#slider-wrapper.container_16
	#left-control.control
	#slider
		- @featured.each do |video|
			%div.slide{ :id => "slide-#{video.id}" }
				%div.slide-cover
				- img_src = ActiveSupport::Base64.encode64(open(video.big_thumbnail_url){ |io| io.read })
				%img{ :src => "data:image/jpg;base64,#{img_src}"}
				%hgroup{ :id => "hgroup-#{video.id}"}
					%h1
						= video.title
					%h2
						= video.description
				%div.gloss{ :id => "gloss-#{video.id}" }
				%canvas.slider-canvas{ :id => "canvas-#{video.id}" }
				= video.embed_html.html_safe
	#right-control.control
	.clear
	#dots-wrapper
		#dots
			- (0...@featured.length).each do |dot_id|
				.dot{ :id => "#{dot_id}"}
.clear
- already_displayed_ids = []
- @important_tags.each do |tag|
	.tag-wrapper{ :id => "tag-wrapper-#{tag.id}" }
		%header.tag-header
			%hgroup
				%h1
					= link_to tag.name, { :controller => :tag, :action => :view, 
																:id => "#{tag.name.gsub( " ", "_" )}" }
		%ul
			- tag.homepage_videos( already_displayed_ids ).each do |video|
				- already_displayed_ids << video.id
				%li
					%a{ :href => "/video/view/#{video.id}"}
						%img{ :src => "#{video.thumbnail_url}" }
					%hgroup
						%h1
							= link_to video.title, {:controller => :video, :action => :view, :id => video.id }
			.clear
		.clear
.clear

