<!DOCTYPE html>
%html
	%head
		%title
			Videos.Oberlin
		= stylesheet_link_tag "reset", "960", "application"
		= javascript_include_tag "jquery", "application"
		= csrf_meta_tags
	%body
		#body-wrapper
			%header#preheader-band
			#page-wrapper-wrapper.container_16
				#page-wrapper.container_16
					%nav#top.container_16
						%hgroup
							%h1
								= link_to "Oberlin Videos", :root
						%form#search-form-wrapper
							%input#search-form{ :value => "search" }
							%input#go-button{ :type => "submit", :value => "" }
						
						%ul
							- counter = 1
							- links = { :browse => '#', :home => '/', :tags => '', :lucky => '' }
							- links.each do |key, value|
								%li{ :id => "banner-tab-#{counter}" }
									= link_to "#{key}", value if key != :browse
									- if key == :browse
										browse
										%ul
											- @important_tags.each do |tag|
												%li
													= link_to "#{tag.name}", "/tag/view/#{tag}"
									- counter += 1
								
					.clear
					= yield
